[submodule "k8s-topology-operator"]
	path = k8s-topology-operator
	url = https://github.com/amarchese96/k8s-topology-operator.git
[submodule "k8s-telemetry-service"]
	path = k8s-telemetry-service
	url = https://github.com/amarchese96/k8s-telemetry-service.git
[submodule "scheduler-plugins"]
	path = scheduler-plugins
	url = https://github.com/amarchese96/scheduler-plugins.git
[submodule "mentat"]
	path = mentat
	url = https://github.com/amarchese96/mentat.git
[submodule "k8s-app-operator"]
	path = k8s-app-operator
	url = https://github.com/amarchese96/k8s-app-operator.git
